#root {
  text-align: center;
}

.logo {
  height: 30vmin;
  pointer-events: none;
}

.header {
  background-color: #6c8184;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #ffffff;
}